apiVersion: v1
kind: ServiceAccount
metadata:
  name: rollout-waiter
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rollout-waiter
  namespace: default
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - rollouts
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rollout-waiter
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: rollout-waiter
subjects:
  - kind: ServiceAccount
    name: rollout-waiter
    namespace: default
